/* Variables
================================================== */

$dark-grey: #515151;
$blue: #0074D9;
$red: #FF4136;

$font-stack-josefin: 'Josefin Sans', sans-serif;
$font-stack-georgia: georgia, serif;

$font-size: 62.5%;
